
.panel { text-align: center; }
#jqt a.small.whiteButton { width: 300px; height: 25px; display: block; left: 50%; margin-left: -160px;  position: relative; }

.mobile-container div.description { float: left;margin-top: 10px; }
.mobile-container div.description p.name { font-size: 20px; color: #333; }
.mobile-container div.description p.location { font-size: 14px; color: #777; text-shadow: 1px 1px 0px white; }

.mobile-container div.image { margin-top: 10px; margin-left: 20px; float: left; width: 120px; height: 120px; overflow: hidden; }

.mobile-container .menu {

}

.mobile-container .menu { margin-top: 10px; padding: 5px;}
.mobile-container .menu a { margin: 7px; text-decoration: none; float: left; text-align: center; line-height: 30px; color: #333; text-shadow: 1px 1px 0px #EEE;  }
.mobile-container .menu a:hover { text-decoration: none;  }